import React from 'react';
import PropTypes from 'prop-types';
import './style.scss';

/** This is the {{ properCase name }} component. */
class {{ properCase name }} extends React.Component {
  render() {
    return (
      <div>{{ properCase name }}</div>
    );
  }
}

{{ properCase name }}.defaultProps = {
};

{{ properCase name }}.propTypes = {
};

export default {{ properCase name }};
